* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 100px;
}

.recipe-list-container {
    background-color: lightgray;
    width: 400px;
    padding: 15px;
}

.recipe-list{
    margin-left: 30px;
    margin-bottom: 10px;
}


h2 {
    background-color: lightgray;
    padding: 10px;
    margin-top: 35px;
}


li {
    margin-bottom: 15px;
}
